:root {
    --fonte: 'Ysabeau SC', sans-serif;
    --cor1:#BAA360;
    --cor2:#E1CE85;
    --cor3:#C9AE53;
    --cor4:#997D3A;
    --cor5:#273244;
    --cor6:#1C2331;
    --cor7:#4D422D; 
    --cor8:#7A6C51;
    --cor9:#665838;
    --cor10:#4D422D;
}

* {
    margin: 0;
    padding: 0;
}

.icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
}

.icon.floating {
    animation: float 0.5s ease-in-out infinite alternate;
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

#topButton {
    display: none;
    position: fixed;
    bottom: 130px;
    right: 13px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #1C314A;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 300px;
}

#topButton:hover {
    background-color: #708396;
    box-shadow: 0px 5px 20px #000000;
}

header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    font-family: var(--fonte);
    color: var(--cor5);
    background-color: var(--cor6);
    padding-bottom: 5px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #0C0F19;
    padding: 10px;
}

#titulo::after {
    content: "|";
    margin: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}
/* banner 1 */
#banner-principal {
    height: 260px;
    background-image: url(assets/fundo.svg);
    padding: 100px;
    font-family: var(--fonte);
    font-size: 23px;
    border-radius: 0px 0px 15px 10px;
    text-align: center;
    color: var(--cor1);
    text-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
}

#carrosel-imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

#carrosel-imagens {
    display: flex;
    flex-direction: row;
    background-color: var(--cor6);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 65px 65px 15px 15px;
    font-family: var(--fonte);
}

.banner {
    text-align: center;
    display: grid;
    grid-auto-flow: column;

}

.banner img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    padding: 0px;
}

.banner p {
    font-size: 20px;
}

.banner h1,
.banner p {
    margin: 5px 0;
}
/* serviços */
#titulo-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fonte);
    color: #1C314A;
    background-color: var(--cor5);
    width: 500px;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
}

#cards-serviços {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--cor5);
    padding: 50px 70px 10px 100px;

}

.card {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 20px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor6);
    color: var(--cor3);
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: var(--fonte);
    font-size: 12px;
    color: var(--cor3);
    transform: rotateY(180deg);
}

.card h3,
.card p {
    margin: 0;
    padding: 10px;
    text-align: center;
}
/* clientes */
#clientes h1{
    font-family: var(--fonte);
padding-bottom: 10px;
}
#clientes {
    padding-top: 30px;
    text-align: center;
    background-image: url(assets/bannerClientes.svg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.depoimentos {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: var(--fonte);
    font-size: 5px;
    background-color:var(--cor6);
    
}

.depoimentos img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.depoimentos h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.depoimentos p {
    font-size: 14px;
    font-weight: bold;
  font-style: italic;
}
/* formulario */
#formulario{
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte);
    background-color: var(--cor5);
}