:root {
    --fonte: 'Ysabeau SC', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
}

.icon.floating {
    animation: float 0.5s ease-in-out infinite alternate;
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

#topButton {
    display: none;
    position: fixed;
    bottom: 130px;
    right: 13px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #1C314A;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 300px;
}

#topButton:hover {
    background-color: #708396;
    box-shadow: 0px 5px 20px #000000;
}

header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    font-family: var(--fonte);
    background-color: #708396;
    padding-bottom: 5px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header a:hover {
    color: #000000;
}

#titulo::after {
    content: "|";
    margin: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}

/* banner 1 */
#banner-principal {
    height: 260px;
    background-image: url(assets/fundo.svg);
    padding: 50px;
    font-family: var(--fonte);
    font-size: 23px;
    text-align: center;
    text-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);

}

/* carrosel de imagens */
#carrosel-imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 70px 70px 20px 20px;
    font-family: var(--fonte);
    max-width: 1000px;
    margin: 0 auto;
    background-color: #708396;
    height: 100%;
    width: 100%;
}

.banner {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.banner img {
    width: 500px;
    height: auto;
    border-radius: 30%;
    padding: 0px;
}

.banner p {
    font-size: 20px;
}

.banner h1,
.banner p {
    margin: 5px 0;
}

/* serviços */
#titulo-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: var(--fonte);
    color: #1C314A;
    background-color: #708396;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
}

#cards-servicos {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #708396;
    display: flex;
    align-items: center;

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    perspective: 1000px;
    padding: 100px;
    height: 300px;
    font-size: 50px;
    font-family: var(--fonte);
    align-items: center;
    display: flex;
    align-items: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    align-items: center;
    display: flex;
    align-items: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;

}

/*  front  */
.flip-card-front {
    background-color: #8b9bac;
    color: #1C314A;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;

}

/* back */
.flip-card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    border-radius: 10px;
    font-size: 20px;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

/* clientes */
#clientes h1 {
    font-family: var(--fonte);
    padding-bottom: 10px;
}

#clientes {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url(assets/bannerClientes.svg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;

}

.depoimentos {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: var(--fonte);
    font-size: 5px;
    background-color: #70839694;

}

.depoimentos img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.depoimentos h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

#clientes h1 {
    font-size: 50px;
}

.depoimentos p {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

/* formulario */
#formulario {
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte);
    background-color: #708396;
    padding-top: 30px;
}

#contatos {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 15px;
    mix-blend-mode: color-burn;
}

input {
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    padding: 10px;
    text-align: center;
}

form p {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #1c314a1c;
}

button:hover {
    transform: translateY(-5px);
    background-color: #1C314A;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #919191;
    font-family: var(--fonte);
}

.rodape {

    padding: 30px;

}

@media only screen and (max-width: 767px) {

    /* Banner principal */
    #banner-principal {
        height: 150px;
        font-size: 18px;
        padding: 20px;
    }

    /* Carrossel de imagens */
    #carrosel-imagens {
        padding: 20px;
    }

    .banner img {
        width: 80%;
    }

    .banner p {
        font-size: 16px;
    }

    /* Serviços */
    .flip-card {
        width: 100%;
        padding: 20px;
        font-size: 28px;
    }

    /* Ajuste de tamanho dos cards para telas de celular */
    #cards-servicos {
        justify-content: flex-start;
    }

    /* Clientes */
    #clientes h1 {
        font-size: 36px;
    }

    .depoimentos {
        width: 90%;
        font-size: 14px;
    }

    .depoimentos h3 {
        font-size: 16px;
    }

    .depoimentos p {
        font-size: 12px;
    }

    /* Formulário */
    #formulario {
        flex-direction: column;
        align-items: center;
    }

    #contatos {
        padding: 20px;
        font-size: 14px;
    }

    input,
    textarea {
        width: 90%;
    }

    button {
        font-size: 16px;
        width: 120px;
    }
}

/* Media queries para tablets */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Banner principal */
    #banner-principal {
        height: 200px;
        font-size: 20px;
        padding: 30px;
    }

    /* Carrossel de imagens */
    #carrosel-imagens {
        padding: 30px;
    }

    .banner img {
        width: 70%;
    }

    .banner p {
        font-size: 18px;
    }

    /* Serviços */
    .flip-card {
        width: 48%;
        padding: 30px;
        font-size: 36px;
    }

    /* Clientes */
    #clientes h1 {
        font-size: 42px;
    }

    .depoimentos {
        width: 40%;
        font-size: 18px;
    }

    .depoimentos h3 {
        font-size: 20px;
    }

    .depoimentos p {
        font-size: 14px;
    }

    /* Formulário */
    #formulario {
        flex-direction: row;
        align-items: flex-start;
    }

    #contatos {
        padding: 30px;
        font-size: 16px;
    }

    input,
    textarea {
        width: 300px;
    }

    button {
        font-size: 18px;
        width: 150px;
    }
}

/* Media queries para desktops */

@media only screen and (min-width: 1024px) {

    /* Banner principal */
    #banner-principal {
        height: 260px;
        font-size: 23px;
        padding: 50px;
    }

    /* Carrossel de imagens */
    #carrosel-imagens {
        padding: 70px;
    }

    .banner img {
        width: 500px;
    }

    .banner p {
        font-size: 20px;
    }

    /* Serviços */
    .flip-card {
        width: 300px;
        padding: 100px;
        font-size: 50px;
    }

    /* Clientes */
    #clientes h1 {
        font-size: 50px;
    }

    .depoimentos {
        width: 250px;
        font-size: 20px;
    }

    .depoimentos h3 {
        font-size: 20px;
    }

    .depoimentos p {
        font-size: 14px;
    }

    /* Formulário */
    #formulario {
        flex-direction: row;
        align-items: flex-start;
    }

    #contatos {
        padding: 50px;
        font-size: 15px;
    }

    input,
    textarea {
        width: 200px;
    }

    button {
        font-size: 20px;
        width: 100px;
    }
}
